@import '../Variables.css';

.comment{
    background-color: var(--White);
    width: 92%;
    margin-top: 30px;
    padding: 14px;
    border-radius: 6px;
    position: relative;
}

.top-comment{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.top-comment img{
    width: 32px;
    margin-right: 16px;
}

h4{
    font-size: 16px;
    margin-right: 16px;
}

h5{
    font-size: 18px;
    font-weight: 300;
    color: var(--Grayish-Blue);
}
.vote-comment{
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
}

.vote-container{
    display: flex;
    align-items: center;
    background-color: var(--Very-light-gray);
    border-radius: 8px;
    padding: 2px 14px;
}
.vote-container button{
    border: none;
    font-size: 18px;
    font-weight: 800;
    color: hsl(242deg 47% 86%);
    cursor: pointer;
    background-color: transparent;
}

.vote-container button:nth-child(3){
    font-size: 32px;
    font-weight: 500;
}
h2{
    font-size: 16px;
    font-weight: 500;
    color: var(--Moderate-blue);
    padding: 0 18px;
}

.reply,.delete-edit{
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    right: 16px;
    bottom: 22px;
}
.reply{
    cursor: pointer;
}

h3{
    font-size: 17px;
    color: var(--Moderate-blue);
    font-weight: 500;
}
.replie{
    width: 94%;
    margin-top: 0px;

}

.container-replie{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

span{
    cursor: pointer;
    font-weight: 800;
    font-size: 16px;
    color:  var(--Moderate-blue);
}
.delete,.edit{
    display: flex;
    align-items: center;
    margin-left: 6px;
    cursor: pointer;

}

.delete h3{
    color: var(--Soft-Red);
    margin-left: 8px;
}
.edit h3{
    margin-left: 8px;
}