@import 'Variables.css';

.attribution { font-size: 11px; text-align: center; margin-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--Very-light-gray);
}

#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

p{
    font-size: 17px;
    color: var(--Grayish-Blue);
    line-height: 24px;
}
.replies{
    width: 92%;
    margin-top: 16px;
    border-left: 3px solid var(--Light-gray);
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 800px) {
   .container{
       max-width: 900px;
   }
}